---
import {skills} from "../data/skills";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "../i18n/utils";
import photo from '@assets/images/fotka.png';
import { Image } from '@astrojs/image/components';
import logoImage from "../assets/images/logo.jpg";
import {Icon} from "astro-icon";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const data = skills.sort((b, a) => b.priority - a.priority)
---
<style is:global>
	div.description {
		padding: 10px;

		p {
			padding: 10px;
			@apply pb-2;
		}
	}
</style>

<section
	data-testid="skills"
	id="skills"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">{`${t('skills.title')}`}</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<div class="mb-2 flex flex-wrap gap-3 items-stretch">
			{skills.map(item => (
				<div class="">
				<Icon
					class="h-8 hover:text-orange dark:hover:text-orange md:h-12 text-black dark:text-white"
					name={item.icon}
					title={`${item.name} - ${item.priority}`}
				/>
				</div>
			))}
		</div>
	</div>
</section>
