---
import { details } from "../../../data/data";
import Block from "./Block.astro";
import {Link} from "astro-link";

const { address, phone, email } = details;
---
<style is:global>
    .details-block-header {
        @apply uppercase font-bold text-base mt-3;
    }
    .block-text {
        @apply text-tiny;
    }
</style>

<Block title="Details">
    <h2 class="details-block-header">Address</h2>
    <div class="block-text">
        {(address as string[]).map((line) => (
                <p>{line}</p>
        ))}
    </div>

    <h2 class="details-block-header">Phone</h2>
    <div class="block-text">
        <p>
            <Link
                href={`tel:${phone}`}
                title={phone}
                class="text-black"
            >
                {phone}
            </Link>
        </p>
    </div>

    <h2 class="details-block-header">Email</h2>
    <div class="block-text">
        <p>
            <Link
                    href={`mailto:${email}`}
                    title={email}
                    class="text-black"
            >
                {email}
            </Link>
        </p>
    </div>
</Block>
