---
import { education } from "../../../data/data";
import { preformatDate } from "../../../utils/utils";
import Block from "./Block.astro";
import List from "./List.astro";
import ListItem from "./ListItem.astro";

const url = Astro.url.toString();
let data = [];

if (url.indexOf('extended') < 0) {
    data = education.filter((item) => item.summary);
} else {
    data = education;
}

---

<Block title="Education" class="break-inside-avoid-page">
    { data.map((item) => (
            <div class="mb-3">
                <div class="text-base"><strong>{item.subject}</strong></div>
                {item.place && <div>{item.place}</div>}
                <div class="text-tiny"><span>{preformatDate(item.since)} — {preformatDate(item.until)}</span></div>
                {item.description &&
                        <List>
                            {(item.description as string[]).map((desc) => (
                                    <ListItem subject={desc} />
                            ))}
                        </List>
                }
            </div>
    ))}
</Block>
