---
import { history } from "../../../data/history";
import { preformatDate } from "../../../utils/utils";
import Block from "./Block.astro";
import List from "./List.astro";
import ListItem from "./ListItem.astro";

const url = Astro.url.toString();
let data;

if (url.indexOf('extended') < 0) {

    data = history.filter((item) => item.summary);
} else {
    data = history;
}
---

<Block title="Employment history">
    { data.map((item) => (
            <div class="mb-4">
                <div class="flex">
                    <div class="text-base flex-col" style="width: 66%"><strong>{item.subject}</strong></div>
                    {item.place && <div class="flex-col text-xs" style="width: 33%; text-align: right;">{item.place}</div>}
                </div>
                <div class="text-tiny"><span>{preformatDate(item.since)} — {preformatDate(item.until)}</span></div>
                {item.description &&
                    <List>
                        {item.description.map((desc) => (
                                <ListItem subject={desc} />
                        ))}
                    </List>
                }
            </div>
    ))}
</Block>
