---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import { SEO } from 'astro-seo';
import CalendlyPopupButtonEmbed from "../components/CalendlyPopupButtonEmbed.astro";
import { BeamAnalytics } from "astro-beam";
import { Hotjar } from 'astro-hotjar';

import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);

import { settings } from "../data/settings";
import { beamAnalyticsId, hotJarId } from "../data/analytics";

export interface LayoutProps {
	title: string;
}

const { title = 'Staszek Cieślicki | Fullstack developer' } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang={lang} class="scroll-smooth" data-testid="html">
	<head>
		<SEO
			title={title}
			description="A heavily optimized description full of well-researched keywords."
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!--<title>{title}</title>-->
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-white px-5 font-sans text-white dark:bg-black xs:text-[16px] md:text-[18px]"
	>
		<Navbar />
		<slot />
		<Footer />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>

		{ settings.calendly && <CalendlyPopupButtonEmbed /> }
		{ beamAnalyticsId && <BeamAnalytics token={beamAnalyticsId} /> }
		{ hotJarId && hotJarId.id && hotJarId.version && <Hotjar id={hotJarId.id} version={hotJarId.version} /> }
	</body>
</html>
